<!-- This is for the actual single article -->


{% extends "base.html" %}
{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}
{% block metadesk %}<meta name="description" content="{{article.summary|striptags}}">{% endblock %}
{% block author %}<meta name="author" content="{{ article.author  }}">{%endblock%}
{% block content %}

<h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
<h5><i class="fl-rocket"></i> {{ article.locale_date }}

{% for tag in article.tags %}
<span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> / </span>
{% endfor %}
</h5>

{{ article.content }}

<p align="center"><a href="#">back to the top</a></p>
{% endblock %}
