<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/cc-icons/1.2.1/css/cc-icons.min.css" rel="stylesheet">
	<link href="https://cdn.rawgit.com/walchko/font-linux/v0.7.2/assets/font-linux.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
	<link href="{{ SITEURL }}/theme/css/site.css" rel="stylesheet" type="text/css" />
	<link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet" type="text/css" />

	<!-- https://www.typewolf.com/google-fonts -->
	<!-- https://fonts.google.com/specimen/Source+Serif+Pro?selection.family=Source+Serif+Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
</head>
<body>
<div id="outer-wrapper">
{% include '_includes/header.html' %}
	<div id="main">
	{% block content %}
	{% endblock %}
	</div>
</div>
<!-- <div class="push"></div> -->
{% include '_includes/footer.html' %}
</body>
</html>
