<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/cc-icons/1.2.1/css/cc-icons.min.css" rel="stylesheet">
	<link href="https://cdn.rawgit.com/walchko/font-linux/v0.7.2/assets/font-linux.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
	<link href="{{ SITEURL }}/theme/css/site.css" rel="stylesheet" type="text/css" />
	<link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet" type="text/css" />
	<link rel="icon" href="{{ SITEURL }}/theme/images/rocket.png" type="image/png">
<script type="text/javascript" src=https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js></script>
	<!-- <script type="text/javascript" async
		src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
	</script> -->
<!-- <script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
	});
</script> -->
<!-- <script type="text/javascript" async src="path-to-mathjax/MathJax.js?config=TeX-AMS_CHTML">
</script> -->

	<!-- https://www.typewolf.com/google-fonts -->
	<!-- https://fonts.google.com/specimen/Source+Serif+Pro?selection.family=Source+Serif+Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
</head>
<body>
<div id="outer-wrapper">
{% include '_includes/header.html' %}
	<div id="main">
	{% block content %}
	{% endblock %}
	</div>
</div>
<!-- <div class="push"></div> -->
{% include '_includes/footer.html' %}
</body>
</html>
