<!-- <ul>
	<li>
		<a href="http://github.com/walchko">
			<i class="fl-github fl-24"></i>
		</a>
	</li>

	<li>
		<a href="http://stackoverflow.com/users/5374768/kevin">
			<i class="fl-stackoverflow fl-24"></i>
		</a>
	</li>

	<li>
		<a href="http://raspberrypi.stackexchange.com/users/1677/kevin">
			<i class="fl-stackexchange fl-24"></i>
		</a>
	</li>

	<li>
		<a href="https://www.npmjs.com/~kevin.walchko">
			<i class="fl-npm fl-24"></i>
		</a>
	</li>

	<li>
		<a href="https://pypi.python.org/pypi">
			<i class="fl-python fl-24"></i>
		</a>
	</li>

	<li><a href="https://bitbucket.org/walchko/"><i class="fl-bitbucket fl-24"></i></a></li>
</ul> -->
